<div class="wrapper">
    <nav class="section-nav">
        <div class="toolbar">
            <span>×</span>
            <span>{{#link-to "home"}}BDB{{/link-to}}</span>
            <span {{action 'toggle_section_nav'}}>&sect;</span>
        </div>
        <ul class="sections{{if isSectionNavActive ' active'}}">
            <li {{action 'toggle_section_nav'}} >{{#link-to "page" 'v'}}Preface{{/link-to}}</li>
            <li {{action 'toggle_section_nav'}} >{{#link-to "page" 'xiii'}}Abbr{{/link-to}}</li>
            <li {{action 'toggle_section_nav'}} >{{#link-to "page" '1'}}Hebrew{{/link-to}}</li>
            <li {{action 'toggle_section_nav'}} >{{#link-to "page" '1078'}}Aramaic{{/link-to}}</li>
            <li {{action 'toggle_section_nav'}} >{{#link-to "page" '1119'}}Errata{{/link-to}}</li>
        </ul>
    </nav>


    {{!-- Outlet for Page --}}
    {{outlet}}
</div>
