<div class="wrapper">
    <div class="toolbar">
        <span>א</span>
        <span>{{#link-to "home"}}BDB{{/link-to}}</span>
        <span {{action 'toggle_section_nav'}}>&sect;</span>
    </div>
    {{!-- <ul id="alph-heb" class="alphabet">
            {{#each hebrew as |letter|}}
                <li>{{letter.translit}}</li>
            {{/each}}
        </ul> --}}
    <nav class="section-nav">
        <ul class="sections{{if isSectionNavActive ' active'}}">
            {{#each sections as |section| }}
                <li {{action 'toggle_section_nav'}}>
                    {{#link-to "page" section.start_page}}
                        {{section.display}}
                    {{/link-to}}
                </li>
            {{/each}}
        </ul>
    </nav>

    {{!-- Outlet for Page --}}
    {{outlet}}
</div>
